/* *{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

span{
    background-color: #327846;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
} */